.dashboard-layout {
    display: flex;
    min-height: 100vh;
    background-color: var(--background);
}

.main-content {
    flex: 1;
    margin-left: 250px;
    /* Width of Sidebar */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}